<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="fileDom" class="ch.qos.logback.core.FileAppender">
        <file>plant_catalogDOM.xml</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="yurchenko.parsers.DomParser" level="info" additivity="false">
        <appender-ref ref="fileDom"/>
    </logger>

    <appender name="fileStax" class="ch.qos.logback.core.FileAppender">
        <file>plant_catalogStax.xml</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="yurchenko.parsers.StaxParser" level="info" additivity="false">
        <appender-ref ref="fileStax"/>
    </logger>

    <root level="error">
        <appender-ref ref="fileDom"/>
    </root>
</configuration>